/POO_Ucaldas_2023-1/lukia2/target/
/POO_Ucaldas_2023-1/lukia2/nbproject/private/
/POO_Ucaldas_2023-1/lukia2/build/
/POO_Ucaldas_2023-1/lukia2/dist/
/POO_Ucaldas_2023-1/Texto_E1/nbproject/private/
/POO_Ucaldas_2023-1/Texto_E1/build/
